<%- contentFor('content')%>

<div class="jumbotron text-center">
	<h1>Project StartLogin Node.js</h1>
	<p class="lead">This project aims to simplify the implementation of user registration and login for authentication using Sequelize.js and PostgreSQL</p>
	<p><a class="btn btn-large btn-success" href="/login" target="ext">Sign up here</a></p>
</div>